@import "tailwindcss";
@plugin "daisyui";

.app-gradient {
  background: #0f2027;
  background: -webkit-linear-gradient(to top, #0f2027, #203a43, #2c5364);
  background: linear-gradient(to top, #0f2027, #203a43, #2c5364);
  min-height: 100vh;
  background-attachment: fixed;
}
